.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 96px 50px;
  height: 293px;
}

.header__menu {
 
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 11px;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item {
  
}

.header__link_active {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 140px;
}

.header__logo-image{
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
}

.header__address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.header__address_links {
  text-decoration: none;      
  border-bottom: 1px solid black;
  display: inline-block;
  width: fit-content;
}

.cover {
  display: flex;
  flex-direction: column;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  background-blend-mode: multiply;
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 106px 50px;
  gap: 20px;
  font-family: 'Raleway', serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
 text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-content: end;
  margin: 0 50px 50px 50px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bet-button {
  width: 256px;
  height: 51px; 
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent; 
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots__heading{

}

.lots__card-list {

}

.lots__card-list-item {

}

.card-link {

}

.card {

}

.card_type_film {

}

.card_type_book {

}

.card_type_picture {

}

.card__title {

}

.card__text {

}

.lots__look-more-link {

}

.about {

}

.about__column {

}

.about__logo{

}

.about__logo-image {

}

.about__title {

}

.about__text {

}

.footer {

}

.footer__menu {

}

.footer__menu-list {

}

.footer__menu-list-item {

}

.footer__menu-link {

}

.footer__menu-link_active {

}

.footer__social-list {

}

.footer__social-list-item {

}

.footer__social-link{

}

.footer__social-icon{
  
}